%flexArea {
    display: flex;
    justify-content: space-between;
    gap: $gapSm;
    margin-bottom: $gapSm;

   .l-area,
   .r-area  {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap:$gapSm $gapSm;
        > * {
                margin-bottom: 0;
        }
        &:only-child {
            flex:1;
        }
    }
    .r-area  {
        justify-content: flex-end;
    }
    &.center {
		justify-content: center;
	}
	&.vcenter {
		align-items: center;
	}
    .dir-col {
        align-items: flex-start;
    }
}
.tit-area,
.fnc-area,
.flex-area {
    @extend %flexArea;
}