input:not([type=checkbox]):not([type=radio]),
select,
textarea,
button {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    vertical-align: middle;
}

textarea {
    width: 100%;
    resize: none;
}

input[type=checkbox],
input[type=radio] {
    @include hideElement;
}

input[type=checkbox]+label,
input[type=radio]+label {
    vertical-align: middle;
    @include type('PrL');
    display: inline-flex;
    transition: display 0.2s;
    position: relative;
    align-items: center;
    gap: $gapSm;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        display: inline-flex;
        width: 1.2rem;
        height: 1.2rem;
        box-sizing: border-box;
        transition: display 0.2s;
        border: 0.1rem solid $black;
    }

    &::before {
        background-color: $white;
    }

    &::after {
        position: absolute;
        left: 0;
    }
}


input[type=checkbox]+label {
    &::before,
    &::after {
        border-radius: $radiusSm;
    }
}

input[type=checkbox]:checked+label{
    &::after {
        background-color: $red;
    }
}