section.tasks {
    display: flex;
    flex-direction: column;
    gap: $gap;
    width: 24rem;
    height: 100vh;
    background-color: $grayColor1;
    border-radius: $radiusLg;
    padding: $gapLg;
    
    // > h2 {
    //     @include type('HdS');
    // }
    
    > ul {
        max-height: calc(100% - 8.9rem);
        overflow: auto;
        li {
            &.current,
            a:hover {
                background-color: $grayColor2;
                border-radius: $radius;
                font-weight: 700;
            }
            &.current {
                font-weight: 700;
            }

            &.year {
                > input[type=checkbox] {
                    &+label {
                        display: flex;
                        flex-direction: row;
                        padding: $gapSm;
                        
                        &:hover {
                            font-weight: 700;
                        }

                        &::before,
                        &::after {
                            display: none;
                        }
                    }

                    &~ul {
                        display: none;
                    }

                    &:checked {
                        &~ul {
                            display: block;
                        }
                    }
                }
            }

            a {
                display: flex;
                gap: $gapSm;
                padding: $gapSm;
            }

            > ul {
                li {
                    &.month {
                        a {
                            padding-left: 2.8rem;
                        }
                    }
                    &:not(.month) {
                        a {
                            padding-left: 5.6rem;
                        }
                    }
                }
            }
        }
    }
}