$white:#ffffff;
$black: #444444;
$grayColor1:#F4F4F4;
$grayColor2:#EBEBEB;
$yellow: #FFD43B;
$blue: #45AAF2;
$red: #CD201F;

$gapXsm: .4rem;
$gapSm: .8rem;
$gap: 1.6rem;
$gapLg: 2.4rem;
$gapXlg: 3.2rem;

$radiusSm: .24rem;
$radius: .8rem;
$radiusLg: 2.4rem;