.month-page {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
}

.month-goal {
    height: 50%;
    > div {
        width: 100%;
        height: calc(100% - 5.6rem);
        display: flex;
        flex-direction: row;
        gap: var(--gap-lg);
        position: relative;
        &::after {
            content: '';
            width: .1rem;
            height: 100%;
            background-color: var(--color-black);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        > div {
            flex: 1;
        }
    }
}

.month-habit {
    div.fnc-area {
        margin-bottom: var(--gap-lg);
        h1 {
            margin-bottom: 0;
        }
    }
}