$fillSize: 90rem;

$fontFamily: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
"Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

$white:#ffffff;
$grayColor1:#F4F4F4;
$grayColor2:#EBEBEB;
$grayColor3:#444444;
$black:#1A1A1A;

$blueColor: #45AAF2;

$redColor: #CD201F;

$yellowColor: #FFD43B;

$gapXsm: .4rem;
$gapSm: .8rem;
$gap: 1.6rem;
$gapLg: 2.4rem;
$gapXlg: 3.2rem;

$radiusSm: .24rem;
$radius: .8rem;
$radiusLg: 2.4rem;

$shadow: 0.5rem  0.5rem 1rem rgba($black, 0.2);

$iconSm: 1.6rem;
$iconM: 2.0rem;
$iconLg: 2.4rem;

$pc-lg:1921px;
$pc:1920px;
$pc-sm:1570px; 
$tablet: 1334px;
$tablet-sm: 1023px;
$mobile: 767px;
$mobile-sm: 480px;
$mobile-xsm: 374px;